#wrapper {
  text-align: center;
  color: white;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 0 auto;

}

#shopping-list {
  box-shadow: 0 5px 15px #222f3e;
  h2 {
    background: #10ac84;
    padding: 10px 0;
    margin: 0;
  }
}

form {
  display: flex;
  flex-direction: row;
}

form > input {
  flex-grow: 1;
  outline: none;
  padding-left: 4px;
  border: 0px;
  height: 100%;
  font-size: 25px;
}

form > button {
  border: 0;
  background: #10ac84;
  color: white;
  outline: none;
  font-size: 25px;
  cursor: pointer;
  &:hover {
    background: #006266;
  }
}

ul {
  list-style: none;
  background: #1dd1a1;
  padding: 0;
  margin: 0;

  li {
    cursor: pointer;
    padding: 10px 0 ;
    &:hover{
      background: #222f3e;
      width: 100%;
    }
    button{
      float: right;
      background: transparent;
      border: 0;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      line-height: 26px;


    }
  }
}




