/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
  background-color: #576574;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}
